* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

div {
    /* background-color: rgba(0,0,0,0.07); */
}

#nav-bar-spacer {
    height: 55px;
}

#navigation-bar {
    height: 55px;
    display: inline-block;
    width: 100%;
    background-color: #202020;
    margin-bottom: -4px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

#pages-container {
    font-family: sans-serif;
    font-size: 16pt;
    padding-top: 15px;
    float: right;
    padding-right: 40px;
}

#pages-container a {
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

#main-page {
    display: grid;
    grid-template-columns: 14% 72% 14%;
    background-color: #white;
}

#content {
    padding: 0px 75px;
    /* box-shadow: 0px 5px 5px rgba(0,0,0,0.5); */
    background-color: white;
    padding-bottom: 60px;
}

#content h1 {
    color: #1cb3ff;
    font-size: 30pt;
    text-align: center;
    padding-top: 70px;
}

#content h2 {
    padding-top: 28px;
}

#content p {
    padding-top: 8px;
}




#timelines-container {
    text-align: center;
}


#citations {
    padding: 0px 20px;
}

#citations p {
    padding-top: 20px;
}

#title {
    margin-left: 160px;
    font-size: 30pt;
    margin-top: 0px;
    letter-spacing: 2px;
    color: white;
}

#minerva {
    font-family: "consolas";
    font-size: 60pt;
    color: #1cb3ff;
    padding-left: 200px;
    padding-top: 160px;
}

#hero {
    height: 530px;
}

#pages-container {
    font-size: 15pt;
    padding-top: 17px;
    padding-right: 10px;
}

/* #Alex {
    color: #ff5f59;
} */

#logo {
    width: 600px;
}

#logo-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 1920px) {
    #content {
        
    }
}

#timelines-container div img {
    width: 100%;
}

@media only screen and (min-width: 900px) and (max-width: 1919px) {
    #title {
        margin-left: 160px;
        font-size: 30pt;
        margin-top: 0px;
        letter-spacing: 2px;
        color: white;
    }

    #minerva {
        font-family: "consolas";
        font-size: 60pt;
        color: #1cb3ff;
        padding-left: 200px;
        padding-top: 160px;
    }
    
    #hero {
        height: 530px;
        /* background-color: red; */
        /* background-image: url("images/landing1.png"); */
        overflow: hidden;
    }

    #pages-container {
        font-size: 15pt;
        padding-top: 17px;
        padding-right: 10px;
    }
}

#bg-code {
    position: absolute;
    top: 55px;
    /* height: 530px; */
    filter: blur(5px);
    z-index: -1;
    width: 105%;
    margin-left: -10px;
    margin-top: -30px;
    overflow: hidden;
}

/* 
#hero-canvas {
    width: 100%;
    height: 530px;
    position: absolute;
    top: 55px;
    z-index: 0;
} */

body {
    overflow-x: hidden;
}

#left-spacer {
    background-color: white;
}

#right-spacer {
    background-color: white;
}