* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

div {
    /* background-color: rgba(0,0,0,0.07); */
}

#navigation-bar {
    height: 55px;
    display: inline-block;
    width: 100%;
    background-color: #404040;
    margin-bottom: -4px;
}

#pages-container {
    font-family: sans-serif;
    font-size: 16pt;
    padding-top: 15px;
    float: right;
    padding-right: 40px;
}

#pages-container a {
    padding-right: 20px;
    text-decoration: none;
    color: white;
}



#hero {
    height: 480px;
    /* display: none; */

}



#main-page {
    display: grid;
    grid-template-columns: 17% 66% 17%;
    background-color: #e6e6e6;
}

#content {
    padding: 0px 75px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    background-color: white;
    padding-bottom: 60px;
}

#content h1 {
    color: #1cb3ff;
    font-size: 30pt;
    text-align: center;
    padding-top: 70px;
}

#content h2 {
    padding-top: 28px;
}

#content p {
    padding-top: 8px;
}




#timelines-container {
    text-align: center;
}


#citations {
    padding: 0px 20px;
}

#citations p {
    padding-top: 20px;
}

#title {
    font-size: 30pt;
    margin-left: 340px;
    margin-top: 100px;
}

#subtitle {
    margin-left: 380px;
}

#minerva {
    font-family: "consolas";
    font-size: 34pt;
    color: #1cb3ff;
}

#Alex {
    color: #ff5f59;
}

#logo {
    width: 600px;
}

#logo-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}