:root {
    /* --blue: #3590FF; */
    --blue: #3e9af0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.consolas {
    font-family: "consolas";
}

/* =============================================== */
/* =                   Content                   = */
/* =============================================== */

#main-page {
    display: grid;
    grid-template-columns: 14% 72% 14%;
    background-color: #white;
}

#content {
    padding: 0px 75px;
    /* box-shadow: 0px 5px 5px rgba(0,0,0,0.5); */
    background-color: white;
    padding-bottom: 60px;
}

#content h2 {
    padding-top: 28px;
}

#content p {
    padding-top: 8px;
}

.format-break {
    margin: 15px -30px;
    border: 1px solid var(--blue);
}

h1 {
    font-family: 'Raleway';
    letter-spacing: 2px;
    font-weight: bold;
    
}