:root {
    /* --blue: #3590FF; */
    --blue: #3e9af0;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    scroll-behavior: smooth;
    line-height: 1.3;
}

h1 {
    font-family: 'Raleway';
    letter-spacing: 2px;
    font-weight: bold;
    
}