* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 800px;
}

/* ============================================================ */
/* ====================      Sidebar       ==================== */
/* ============================================================ */

.sidebar {
    background-color: #333;
    display: inline-block;
    position: fixed;
    height: 100vh;
    font-family: sans-serif;
    color: white;
}

.sidebar h2 {
    color: #3e9af0;
    font-size: 22pt;
    padding-bottom: 2px;
}

#sidebar-logo {
    width: 46px;
    margin-left: 7px;
    margin-top: 25px;
    transition: margin 0.5s;
}

.sidebar p a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 16pt;
    line-height: 1.5;
    transition: color 0.2s;
}

.sidebar p a:hover {
    color: #aaaaaa;
}

#project-links {
    padding: 20px 60px;
    white-space: nowrap;
    margin-top: 0px;
    margin-left: -300px;
    transition: margin 0.5s;
}

#language-links {
    padding: 20px 60px;
    white-space: nowrap;
    margin-left: -300px;
    transition: margin 0.5s;
}

#sidebar-container {
    width: 60px;
    transition: width 0.5s;
    overflow: hidden;
}

#sidebar-container:hover {
    width: 320px;
}

#sidebar-container:hover #project-links {
    margin-left: -15px;
}

#sidebar-container:hover #sidebar-logo {
    margin-left: 45px;
}

#sidebar-container:hover #language-links {
    margin-left: -15px;
}

#chevron {
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
    transition: opacity 0.5s;
    opacity: 90%;
}

#sidebar-container:hover #chevron {
    opacity: 0%;
}

/* ============================================================ */
/* ====================     Main Page      ==================== */
/* ============================================================ */

#main-content {
    max-width: calc(100vw - 60px);
    margin-left: 60px;
}

/* ============================================================ */
/* ====================      Overview      ==================== */
/* ============================================================ */

#overview {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.left {
    border-right: 1px solid #333;
    padding-right: 46px;
}

.right {
    border-left: 1px solid #333;
    padding-left: 46px;
}

.image-container {
    padding: 16px 14px;
    text-align: center;
}

.image-container img {
    width: 180px;
}

.ele {
    padding: 16px 14px;
    text-align: center;
}

.ele-header {
    text-align: center;
    color: var(--blue);
}

.ele-text {
    color: #333;
    margin-top: 14px;
    line-height: 1.4;
}

#c-logo {
    width: 110px;
    margin-right: 80px;
}

#github-logo {
    width: 100px;
}

#intellij-logo {
    width: 100px;
    margin-right: 36px;
    margin-left: 36px;
}

#vscode-logo {
    width: 100px;
}

#scanner-image {
    width: 440px;
    margin-top: 12px;
}

#java-logo {
    width: 80px;
}

#logo-explanation {
    width: 410px;
    margin-top: 20px;
}

.overview-hr {
    border: 1px solid #333;
    border-radius: 2px;
    margin-bottom: 40px;
}

/* ============================================================ */
/* ====================      Timeline      ==================== */
/* ============================================================ */

#timeline {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    padding: 55px;
}

#timeline div {
    border: 1px solid black;
}