@import url("redesign-global.css");

/* ============================================================ */
/* ====================      Sidebar       ==================== */
/* ============================================================ */

.sidebar {
    background-color: #333;
    display: inline-block;
    position: fixed;
    height: 100vh;
    font-family: sans-serif;
    color: white;
}

.sidebar h2 {
    color: #3e9af0;
    font-size: 22pt;
    padding-bottom: 2px;
}

#sidebar-logo {
    width: 46px;
    margin-left: 7px;
    margin-top: 25px;
    transition: margin 0.5s;
}

.sidebar p a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 16pt;
    line-height: 1.5;
    transition: color 0.2s;
}

.sidebar p a:hover {
    color: #aaaaaa;
}

#project-links {
    padding: 20px 60px;
    white-space: nowrap;
    margin-top: 0px;
    margin-left: -300px;
    transition: margin 0.5s;
}

#language-links {
    padding: 20px 60px;
    white-space: nowrap;
    margin-left: -300px;
    transition: margin 0.5s;
}

#sidebar-container {
    width: 60px;
    transition: width 0.5s;
    overflow: hidden;
}

#sidebar-container:hover {
    width: 320px;
}

#sidebar-container:hover #project-links {
    margin-left: -15px;
}

#sidebar-container:hover #sidebar-logo {
    margin-left: 45px;
}

#sidebar-container:hover #language-links {
    margin-left: -15px;
}

#chevron {
    height: 30px;
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
    transition: opacity 0.5s;
    opacity: 90%;
    /* animation-name: chevron; */
    /* animation-duration: 1.3s; */
    /* animation-iteration-count: infinite; */
}

@keyframes chevron {
    0% {
        right: 10px;
    }

    33% {
        right: 15px;
    }

    66% {
        right: 10px;
    }
}

#sidebar-container:hover #chevron {
    opacity: 0%;
}

/* ============================================================ */
/* ====================     Main Page      ==================== */
/* ============================================================ */

#main-content {
    max-width: calc(100vw - 60px);
    margin-left: 60px;
    padding: 0px 8%;
    background-color: #f5f5f5;
}

#main-content div {
    background-color: white;
}

.subtitle {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 45px;
    font-size: 32pt;
    color: #333;
}

/* ============================================================ */
/* ====================      Overview      ==================== */
/* ============================================================ */

#overview {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-left: 6%;
    margin-right: 6%;
}

.left {
    border-right: 1px solid #333;
    padding-right: 46px;
}

.right {
    border-left: 1px solid #333;
    padding-left: 46px;
}

.image-container {
    padding: 16px 34px;
    text-align: center;
}

.image-container img {
    width: 180px;
}

.ele {
    padding: 16px 34px;
    text-align: center;
}

.ele-header {
    text-align: center;
    color: var(--blue);
}

.ele-text {
    color: #333;
    margin-top: 14px;
    line-height: 1.4;
}

#c-logo {
    width: 110px;
    margin-right: 80px;
}

#github-logo {
    width: 100px;
}

#intellij-logo {
    width: 100px;
    margin-right: 36px;
    margin-left: 36px;
}

#vscode-logo {
    width: 100px;
}

#scanner-image {
    width: 440px;
    margin-top: 12px;
}

#java-logo {
    width: 80px;
}

#logo-explanation {
    width: 410px;
    margin-top: 20px;
}

#communication-image {
    width: 160px;
    margin-top: 40px;
}

#timemanagement-image {
    width: 160px;
    margin-left: 60px;
}

.overview-hr {
    border: 1px solid #333;
    padding: 0px;
    margin-bottom: 40px;
    outline: none;
}

/* ============================================================ */
/* ====================       Goals        ==================== */
/* ============================================================ */

#goals {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #333;
    column-gap: 80px;
    row-gap: 40px;
    margin-left: calc(50% - 450px);
    max-width: 900px;
}

@media only screen and (min-width: 1600px) {
    #goals {
        max-width: 1100px;
        margin-left: calc(50% - 550px);
    }
}

.goal-entry {
    padding: 4px;
}

.goal-entry p {
    margin-top: 14px;
}

.goal-header {
    color: var(--blue);
    text-align: center;
}

/* ============================================================ */
/* ====================      Journals      ==================== */
/* ============================================================ */

.journal-title {
    color: var(--blue);
}

.journal {
    line-height: 1.3;
}

.journal h3 {
    margin-bottom: 4px;
}

.journal-subtitle {
    color: var(--blue);
    margin-bottom: 8px;
}

.journal-list {
    margin-left: 35px;
}

.journal {
    max-width: 900px;
    margin-left: calc(50% - 450px);
}

@media only screen and (min-width: 1600px) {
    .journal {
        max-width: 1100px;
        margin-left: calc(50% - 550px);
    }
}

#enum-example {
    width: 600px;
    margin-left: calc(50% - 300px);
    margin-top: 20px;
    margin-bottom: 20px;
}



/* ============================================================ */
/* ====================      Timeline      ==================== */
/* ============================================================ */

#timeline {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    padding: 50px 145px;
    margin-top: -50px;
}

.month-header {
    color: var(--blue);
    font-size: 20pt;
    text-align: center;
}

.week-header {
    font-size: 14pt;
}

#timeline div p {
    margin: 10px 0px;
    margin-left: 24px;
}

#timeline div {
    margin-bottom: 40px;
}

#advisors-container {
    margin-left: calc(50% - 450px);
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media only screen and (min-width: 1600px) {
    #advisors-container {
        margin-left: calc(50% - 550px);
        max-width: 1100px;
    }
}

.advisor-name {
    color: var(--blue);
}

#advisors-container ul {
    margin-left: 40px;
}

#advisors-container ul li {
    margin-bottom: 4px;
    margin-top: 4px;
}