@import url("global.css");

#timelines-container {
    text-align: center;
}

#citations {
    padding: 0px 20px;
}

#citations p {
    padding-top: 20px;
}

#title {
    margin-left: 30px;
    font-size: 30pt;
    margin-top: 0px;
    letter-spacing: 2px;
    color: white;
}

#name {
    font-family: "consolas";
    font-size: 60pt;
    /* color: var(--blue); */
    margin-left: 180px;
    margin-top: 160px;
    color: white;
}

#hero {
    margin-top: 55px;
    height: calc(100vh - 55px);
}

#pages-container {
    font-size: 15pt;
    padding-top: 17px;
    padding-right: 10px;
}

/* #Alex {
    color: #ff5f59;
} */

#logo {
    width: 600px;
}

#logo-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#timelines-container div img {
    width: 100%;
}

#bg-code {
    position: absolute;
    top: 55px;
    /* height: 530px; */
    /* filter: blur(5px); */
    z-index: -1;
    width: 105%;
    margin-left: -10px;
    margin-top: -60px;
    overflow: hidden;
}

/* 
#hero-canvas {
    width: 100%;
    height: 530px;
    position: absolute;
    top: 55px;
    z-index: 0;
} */

body {
    overflow-x: hidden;
}

#left-spacer {
    background-color: white;
}

#right-spacer {
    background-color: white;
}

#github-svg {
    float: left;
    width: 30px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: -8px;
}

#minn-git {
    float: left;
    width: 30px;
    margin-top: 7px;
    margin-right: 12px;
}

#website-git {
    float: left;
    width: 30px;
    margin-top: 4px;
    margin-right: 12px;
}

.git-container {
    display: grid;
    grid-template-columns: auto 1fr;
}

#githubs {
    display: inline-block;
    position: absolute;
    top: 75px;
    right: 60px;
}

.git-link {
    padding: 9px 16px;
    background-color: white;
    border-radius: 8px;
    /* border: 2px solid white; */
    margin-bottom: 10px;
    font-size: 11pt;
    text-align: center;
    color: #333;
    min-width: 120px;
    transition-property: "background-color", "color";
    transition-duration: 0.3s;
}

.git-link:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: black;
}

#githubs a {
    text-decoration: none;
    color: #333;
}

#git-text {
    padding: 4px 18px;
    color: white;
    margin-left: 25px;
    font-size: 22pt;
}

.nice-hr {
    border: 1px solid var(--blue);
    margin-bottom: 11px;
}

.git-container {
    padding: 0px 12px;
}

#tagline {
    color: white;
    margin-top: 30px;
    max-width: 900px;
    margin-left: 18%;
    font-size: 16pt;
}

#main-hr {
    width: 840px;
    margin-left: 110px;
    margin-top: -4px;
}

@media only screen and (min-width: 1920px) {
    #githubs {
        transform: scale(1.4);
        top: 250px;
    }

    #name {
        font-size: 110pt;
    }

    #title {
        font-size: 40pt;
    }
}

@media only screen and (min-width: 900px) and (max-width: 1919px) {
    #title {
        margin-left: 30px;
        font-size: 30pt;
        margin-top: 0px;
        letter-spacing: 2px;
        color: white;
    }

    #name {
        font-family: "consolas";
        font-size: 70pt;
        /* color: var(--blue); */
        margin-left: 140px;
        margin-top: 160px;
    }
    
    #hero {
        overflow: hidden;
    }

    #pages-container {
        font-size: 15pt;
        padding-top: 17px;
        padding-right: 10px;
    }
}

#main-page {
    /* display: none; */
}

#test-page {
    background-color: white;
    padding: 1px 7% 30px 7%;
}

#columns {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    /* column-gap: 20px; */
}

#columns div {
    /* border-right: 1px solid #333; */
}

#left-col {
    padding: 0% 4%;
    /* border-right: 2px solid #333; */
}

#right-col {
    padding: 0% 4%;
}

.ele {
    padding: 16px 14px;
    text-align: center;
    /* transform: scale(1.1); */
    /* transition-property: "transform"; */
    /* transition-duration: 0.35s; */
    /* transition-timing-function: ease; */
}

.image-container {
    padding: 16px 14px;
    text-align: center;
}

.image-container img {
    width: 180px;
}

.ele-header {
    text-align: center;
    color: var(--blue);
}

.ele-text {
    color: #333;
    margin-top: 14px;
    line-height: 1.4;
    /* font-size: 16pt; */
}

.ele-hr {
    border: 1px solid #333;
    margin-top: 8px;
    margin-bottom: 8px;
}

#c-logo {
    width: 110px;
    margin-right: 80px;
}

#github-logo {
    width: 100px;
}

#intellij-logo {
    width: 100px;
    margin-right: 36px;
    margin-left: 36px;
}

#vscode-logo {
    width: 100px;
}

.left {
    border-right: 1px solid #333;
    padding-right: 46px;
}

.right {
    border-left: 1px solid #333;
    padding-left: 46px;
}

.content-hr {
    border: 1px solid #333;
    border-radius: 2px;
    margin-bottom: 40px;
}

#scanner-image {
    width: 440px;
    margin-top: 12px;
}

#logo-explanation {
    width: 410px;
    margin-top: 20px;
}

#proj-objs p {
    margin-bottom: 0px;
    margin-top: 0px;
}

#java-logo {
    width: 80px;
}

.subtitle {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 32pt;
    color: #333;
}

#goals {
    display: grid;
    grid-template-columns: 44% 44%;
    column-gap: 12%;
    color: #333;
    /* text-align: center; */
}

.goal-entry {
    padding: 4px;
}

.goal-entry p {
    margin-top: 14px;
}

.goal-header {
    color: var(--blue);
    text-align: center;
}
/* 
#timelines-container div {
    max-width: 680px;
} */

h1 {
    font-family: 'Raleway';
    letter-spacing: 2px;
    font-weight: bold;
    
}

#hero-logo {
    width: 35%;
    margin-left: 22%;
    margin-top: 220px;
}